@model IEnumerable<SVTrade.Models.ProductCategory>

@{
    ViewBag.Title = "Адмін: всі категорії товарів";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Категорії товарів</h2>

<p>
    <a href="/Admin/Admin/CreateProductCategory" class="btn btn-default">Додати нову категорію товарів</a>
</p>

<h3 class="pad25 text-center">Існуючі категорії товарів</h3>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.name)</td>
            <td>
                @using (Html.BeginForm("DeleteProductCategory", "Admin"))
                {
                    @Html.Hidden("productCategoryID", item.productCategoryID)
                    <input type="submit" value="Видалити" class="btn btn-danger marg5" />
                }
                @Html.ActionLink("Змінити", "EditProductCategory", "Admin", new { item.productCategoryID }, new { @class = "btn btn-info marg5" })
            </td>
        </tr>
    }
</table>


