@{
    ViewBag.Title = "About";
}

<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">Опис системи енергоефективності </h2>
            <p class="intro text-center">Даний документ описує загальні принципи побудови системи енергоефективності</p>
            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Основні завдання  системи енергоефективності</h3>
                    <div class="desc ttl">
                        <p>
                            Основні завдання, які ставляться перед системою енергоефективності в порівнянні з існуючою:
                            <ul>
                                <li>
                                    зменшення використання електроенергії на освітлення мінімум  на 60%;
                                </li>
                                <li>
                                    зменшення використання електроенергії приладами, які «забули вимкнути»,  до 90%;
                                </li>
                                <li>
                                    зменшення використання електроенергії та газу на обігрів приміщень до 50%;
                                </li>
                                <li>
                                    зменшення використання газу на виробництво пари до 50%;
                                </li>
                                <li>
                                    зменшення витрат на закупівлю макулатури до 30%;
                                </li>
                            </ul>
                        </p>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <div class="border-anm">
                        <img class="img-responsive" src="img/page-desc/tittle.png" alt="" />
                    </div>
                    <figcaption class="figure-caption">(Screenshot: Coral - App &amp; website startup kit) </figcaption>
                </figure>
            </div><!--//item-->

            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Освітлення</h3>
                    <div class="desc">
                        <p>Замінивши існуючі світильники на світлодіодні з потужністю 80Вт ми зможемо зекономити від 20 МВт електроенергії за 1 місяць в порівнянні з існуючими світильниками. </p>
                        <p>Передбачено режим, який буде самостійно регулювати яскравість освітлення опираючись на загальну кількість природного та штучного світла.  </p>
                        <div class="quote">
                            <div class="quote-content">
                                <blockquote><p>Дана конфігурація системи має можливість формувати звіти з точною кількістю витраченої та зекономленої електроенергії.</p></blockquote>
                            </div><!--//quote-content-->
                        </div><!--//quote-->
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <div class="border-anm">
                        <img class="img-responsive" src="img/page-desc/light.jpg" alt="" />
                    </div>
                    <figcaption class="figure-caption">(Screenshot: Coral - App &amp; website startup kit) </figcaption>
                </figure>
            </div><!--//item-->

            <div class="row item ">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Система енергоменеджменту</h3>
                    <div class="desc">
                        <p>Наша система підключається в електричному щитку до кабелю електроживлення і вимірює споживання електроенергії в приміщенні. </p>
                        <p>Всі дані про енерговитрати формуються у детальну аналітику, яка допомагає відстежити перевитрати і побачити можливості для економії.</p>
                        <p>Система визначає електричні пристрої за допомогою аналізу потужності і спектру.</p>
                        <p>У всіх пристроїв в на виробництві є певні шаблони того, як вони включаються, працюють і вимикаються.
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <div class="border-anm">
                        <img class="img-responsive" src="img/page-desc/rozetka.jpg" alt="" />
                    </div>
                    <figcaption class="figure-caption">(Screenshot: Coral - App &amp; website startup kit) </figcaption>
                </figure>
            </div><!--//item-->

            <div class="row item last-item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Використання клімат-панелей для обігріву та охолодження приміщення</h3>
                    <div class="desc">
                        <p>Кліматичні панелі EFFI - це універсальна система для створення температурного комфорту в приміщеннях.</p>
                        <p>Клімат-панелі можуть працювати протягом усього року, створюючи необхідну для комфорту температуру в приміщенні.</p>
                        <p>Це дозволяє знизити середню температуру в приміщенні, без втрати комфорту, призводить до скорочення споживання енергоресурсів на 50% в порівнянні зі звичайними системами опалення.</p>

                    </div>

                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <div class="border-anm">
                        <img class="img-responsive" src="img/page-desc/phone.png" alt="" />
                    </div>
                    <figcaption class="figure-caption">(Screenshot: Coral - App &amp; website startup kit) </figcaption>
                </figure>
            </div><!--//item-->
        </div><!--//container-->
    </section><!--//why-->

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Замов свій власний проект!</h2>
                <a href="aboutus.html" class="btn btn-default btn-xl wow tada detail">Замовити проект</a>
            </div>
        </div>
    </aside>
</div>