body {
}

div{
   overflow:auto;
  
}
li{
    font-size:1.2em;
    font-family:Arial;
}
.allpage{
    width:940px;
    height:auto;
    position:absolute;
        margin-left:25%;
        margin-right:25%;
}
.leftmenu{
    position:fixed;
    left:10%;
    width:15%;
    top:50px;
   
    height:100%;
    

}

.rightmenu{
    position:absolute;
    left:0%;
    width:100%;
    height:auto;
    
      
}
.right2{
    position:relative;
    margin:5%;
    width:90%;
    height:auto;
   
}
.absolutecontainer{
    position:absolute;
    width:inherit;
    height:100%;
}
 .maincont{
        position:relative;
       min-height:1080px;
         border-left:solid 1px rgba(0,0,0,0.4);
         border-right:solid 1px rgba(0,0,0,0.4);
    }
 footer{
     border-top:solid 1px rgba(0,0,0,0.4);
     background:#111;
     color:#999;
 }
 nav{
        
 }
 li{
     color:white;
 }